@import 'variables';

.navigation {
  background: rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(22px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 12px 0;
  z-index: 40;

  .container {
    max-width: 1492px;

    @media screen and (min-width: 1200px) and (max-width: 1366px) {
      .row {
        justify-content: space-between;
        .col-xl-2 {
          max-width: 140px;
        }
      }

      .navigation-menu {
        gap: 16px;
      }
    }
  }

  &-logo {
    img {
      height: 20px;
    }
  }

  &-menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 25px;

    @media screen and (max-width: 1200px) {
      flex-direction: column;
      opacity: 0;
      position: absolute;
      top: 100%;
      left: -9999px;
      background: #FFF;
      box-shadow: 34px 0px 60px 0px rgba(0, 0, 0, 0.08);
      padding: 16px 0;
      width: 100%;
      align-items: flex-start;
      transition: .3s;
      z-index: -99999;

      &.show {
        display: flex;
        left: 0;
        opacity: 1;
        z-index: 4;
      }
    }

    li {
      a {
        color: var(--alteco-white);
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        transition: .3s;
        text-wrap: nowrap;

        @media screen and (max-width: 1200px) {
          color: #0F0F0F;
          font-family: Inter;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          padding: 14px 40px;
        }

        &:hover {
          color: var(--alteco-blue);
        }
      }

      &.phone {
        margin-left: auto;
        a {
          display: flex;
          align-items: center;
          gap: 8px;
          font-size: 16px;
          font-weight: 700;
          line-height: 23.597px; 
        }

        @media screen and (max-width: 1200px) {
          display: none;
        }
      }
    }
  }
}

.mobile-phone {
  display: none;
  margin-top: 12px;
  
  a {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 23.597px; 
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 23.597px; /* 147.484% */
  }

  @media screen and (max-width: 1200px) {
    &.show {
      display: block;
    }
  }
}

.mobile-btn {
  display: none;

  @media screen and (max-width: 1200px) {
    display: flex;
    align-items: center;
    justify-items: center;
    float: right;
  }

  .open-mob {
    width: 24px;
    height: 24px;
  }

  .close-mob {
    display: none;
    width: 26px;
    height: 26px;
  }

  &.active {
    .close-mob {
      display: block;
    }
    .open-mob {
      display: none;
    }
  }
}

.header {
  background: 
  linear-gradient(180deg, rgba(255, 255, 255, 0.00) 85%, var(--alteco-white) 100%), 
  linear-gradient(180deg, var(--alteco-header-bg) 30%, rgba(142, 174, 200, 0.68) 65%, rgba(255, 255, 255, 0.00) 100%, rgba(187, 207, 222, 0.00) 100%), 
  url('../images/header-bg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 155px 0;
  text-align: center;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-logo {
    img {
      height: 40px;
    }
    margin-bottom: 32px;
  }

  &-item {
    max-width: 1000px;
    margin: 0 auto;

    h1 {
      color: var(--alteco-white);
      font-family: Gilroy;
      font-size: 78px;
      font-style: normal;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
      margin-bottom: 16px;
    }

    p {
      color: var(--alteco-white);
      font-family: Inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      margin-bottom: 32px;

      b {
        display: block;
        font-weight: bold;
      }
    }
  }
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.btn-regular {
  display: flex;
  padding: 24px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--alteco-light);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  border-radius: 4px;
  background: var(--alteco-dark);
  transition: .3s;

  &:hover {
    background: var(--alteco-light);
    color: var(--alteco-dark);
  }

  &.btn-white {
    background: var(--alteco-white);
    color: var(--alteco-blue);

    &:hover {
      background: var(--alteco-light);
      color: var(--alteco-dark);
    }
  }
}

.modal {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.50) 100%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  align-items: center;
  justify-content: center;
  transition: 1s;
  display: none;

  &.show {
    display: flex;
  }

  .close {
    width: 32px;
    height: 32px;
    color: #000;
    transition: .3s;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;

    svg {
      width: 32px;
      height: 32px;
    }

    &:hover {
      color: #fff;
    }
  }

  &#get-price {
    .modal-dialog {
      background: url('../images/modal-bg.webp') no-repeat center;
      background-size: cover;
      max-width: 1200px;
      min-height: 600px;
      padding: 64px;
    }
  }

  &#call-me {
    .modal-dialog {
      max-width: 780px;
    }
    .modal-container {
      overflow: hidden;
    }
  }

  &-dialog {
    width: 100%;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-items: center;
    background: #FFF;
  }

  &-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.get-price-form {

  &-item {
    width: 100%;
  }

  h2 {
    color: #FFF;
    font-family: Gilroy;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 48px */
    text-transform: uppercase;
    margin-bottom: 32px;
  }

  p {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
  }

  h4 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 38.4px */
    margin-bottom: 30px;
  }

  &-inputs {
    max-width: 588px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.70);
    padding: 40px;
    margin-left: auto;

    .row {
      margin: 0 -8px;
    }

    .col-lg-6, .col-12 {
      padding: 0 8px;
    }
  }

  .inputs-group {
    display: inline-flex;
    gap: 10px 40px;
    text-align: left;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
      .custom-radio {
        width: calc(50% - 20px);
      }
    }
  }

  &-button {
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: none;
    border: 0;
    margin-top: 32px;
    transition: .3s;
    cursor: pointer;

    &:hover {
      opacity: .7;
    }

    .icon {
      width: 24px;
      height: 24px;
    }
  }

  .custom-input, .custom-select {
    border: 2px solid rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.05);
    color: #FFF;
  }

  .custom-select {
    border-right: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1_168_3821' fill='white'%3E%3Cpath d='M5.65723 0.5L11.3141 6.15686L5.65723 11.8137L0.000367887 6.15686L5.65723 0.5Z'/%3E%3C/mask%3E%3Cpath d='M5.65723 11.8137L4.24301 13.2279L5.65723 14.6421L7.07144 13.2279L5.65723 11.8137ZM9.89987 4.74265L4.24301 10.3995L7.07144 13.2279L12.7283 7.57107L9.89987 4.74265ZM7.07144 10.3995L1.41458 4.74265L-1.41385 7.57107L4.24301 13.2279L7.07144 10.3995Z' fill='white' fill-opacity='0.7' mask='url(%23path-1-inside-1_168_3821)'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 85% center;
    option {
      color: #000;
    }
  }

  .custom-checkbox {
    margin-top: 30px;
    margin-bottom: 30px;

    input {
      display: none;

      &:checked {
        +span {
          color: #A0A0A0;

          * {
            color: #A0A0A0;
          }
        }
      }
    }

    span {
      color: #A0A0A0;

      * {
        color: #A0A0A0;
      }
    }
  }

  &-submit {
    display: flex;
    padding: 23px 32px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    border-radius: 4px;
    border: 1px solid #FFF;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    width: 100%;
    background: 0 0;
    cursor: pointer;
    transition: .3s;

    .icon {
      width: 24px;
      height: 24px;
      transition: .3s;
    }

    &:hover {
      background: #fff;
      color: #000;

      .icon {
        margin-left: 5px;
      }
    }

    &[disabled] {
      opacity: .5;
      cursor: not-allowed;
    }
  }

  &-success {
    text-align: center;

    * {
      transition: .3s;
    }
    
    &.active {
      display: flex !important;
    }

    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;

    h2 {
      margin-bottom: 0;
    }

    b {
      font-weight: bold;
    }
  }
}

.go-to-home-btn {
  transition: .3s;
  width: 298px;
  height: 72px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 16px;
  text-wrap: nowrap;
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  border-radius: 4px;

  svg {
    width: 24px;
    height: 24px;
    transition: 0s;
  }

  &:hover {
    width: 222px;
    height: 64px;
    background: #fff;
    color: #000;
  }
}

.label {
  position: relative;
}

.allert {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #FF3932;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 16px;
  text-align: left;

  svg {
    color: #FF3932;
    width: 18px;
    height: 18px;
  }
}

.custom {
  &-radio {
    padding: 10px 16px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
    color: #fff;
    text-wrap: nowrap;
  
    input {
      display: none;
  
      &:checked {
        +span:after {
          opacity: 1;
        }
      }
    }
  
    span {
      padding-left: 28px;
      position: relative;
  
      &:before {
        content: "";
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 1px solid #fff;
        position: absolute;
        top: 0;
        left: 0;
      }
  
      &:after {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        top: 4px;
        left: 4px;
        opacity: 0;
        transform: 0.3s;
      }
    }
  }

  &-input {
    border: 1px solid rgba(0, 0, 0, 0.50);
    background: rgba(0, 0, 0, 0.05);
    padding: 20px 22px;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 100%;
    display: block;
    margin-bottom: 16px;
  }

  &-select {
    border: 1px solid rgba(0, 0, 0, 0.50);
    background-color: rgba(0, 0, 0, 0.05);
    padding: 20px 22px;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position: 85% center;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1_168_3415' fill='white'%3E%3Cpath d='M5.65674 0.5L11.3136 6.15686L5.65674 11.8137L-0.000120394 6.15686L5.65674 0.5Z'/%3E%3C/mask%3E%3Cpath d='M5.65674 11.8137L4.24252 13.2279L5.65674 14.6421L7.07095 13.2279L5.65674 11.8137ZM9.89938 4.74265L4.24252 10.3995L7.07095 13.2279L12.7278 7.57107L9.89938 4.74265ZM7.07095 10.3995L1.41409 4.74265L-1.41433 7.57107L4.24252 13.2279L7.07095 10.3995Z' fill='black' fill-opacity='0.5' mask='url(%23path-1-inside-1_168_3415)'/%3E%3C/svg%3E%0A");
  }

  &-checkbox {
    display: block;
    text-align: left;
    cursor: pointer;

    input {
      display: none;

      &:checked {
        +span {
          color: #000;

          * {
            color: #000;
          }

          &:after {
            opacity: 1;
          }

          &:before {
            border-color: #34C759;
          }
        }
      }
    }

    span {
      position: relative;
      padding-left: 32px;
      color: #A0A0A0;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 110%; 

      a {
        color: #A0A0A0;
        text-decoration: underline;
      }

      &:before {
        content: "";
        border-radius: 6px;
        border: 1px solid #D0D5DD;
        background: #FFF;
        width: 20px;
        height: 20px;
        position: absolute;
        top: -2.5px;
        left: 0;
      }

      &:after {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M11.6663 3.5L5.24967 9.91667L2.33301 7' stroke='%2334C759' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        width: 14px;
        height: 14px;
        position: absolute;
        top: 1px;
        left: 3px;
        transition: .3s;
        opacity: 0;
      }
    }

    
  }
}

.input-phone {
  display: flex;
}

.tab-item {
  display: none;

  &.active {
    display: block;
  }
} 

.text-center {
  text-align: center;
}

.call-me {
  background: var(--alteco-orange);
  width: 90.426px;
  height: 90.426px;
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  right: 16px;
  z-index: 49;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 rgba(0,0,0, 0.4);
  animation: pulse 2s infinite;

  .icon {
    width: 40px;
    height: 40px;
  } 

  &-img {
    width: 100%;
    min-height: 64px;
    object-fit: cover;
  }

  &-item {
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 644px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;

    h2 {
      color: var(--alteco-gray-800);
      font-family: Gilroy;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 43.2px */
      text-transform: uppercase;
      margin-bottom: 16px;
    }

    p {
      color: var(--alteco-gray-700);
      text-align: center;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 16px;
    }
  }

  &-submit {
    color: var(--alteco-gray);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 4px;
    background: var(--alteco-gray-800);
    display: flex;
    padding: 14px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    margin-bottom: 16px;
    cursor: pointer;
    border: 0;
    min-width: 208px;

    &[disabled] {
      opacity: .5;
    }
  }

  &-form-row {
    display: flex;
    align-items: center;
    gap: 16px;

    @media screen and (max-width: 600px) {
      flex-wrap: wrap;

      .input-phone {
        width: 100%;
      }
    }

    .custom-select {
      border-right: 0;
    }

  }
}

.error {
  border-color: #FF3932 !important;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 40px rgba(0,0,0, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(0,0,0, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0, 0.4);
    box-shadow: 0 0 0 0 rgba(0,0,0, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 40px rgba(0,0,0, 0);
      box-shadow: 0 0 0 40px rgba(0,0,0, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(0,0,0, 0);
      box-shadow: 0 0 0 0 rgba(0,0,0, 0);
  }
}


h2 {
  color: #000;
  font-family: Gilroy;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 48px */
  text-transform: uppercase;

  @media screen and (max-width: 992px) {
    font-size: 24px;
  }
}

.section {
  padding: 100px 0;
  @media screen and (max-width: 992px) {
    padding: 40px 0;
  }
}

.advantages {
  h2 {
    text-align: center;
    margin-bottom: 32px;
  }

  &-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    @media screen and (max-width: 992px) {
      gap: 8px;
    }
  }

  &-item {
    display: flex;
    min-width: 300px;
    padding: 24px;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    flex: 1;
    border-radius: 4px;
    background: #EDF1F4;

    .icon {
      width: 24px;
      height: 24px;
      color: var(--alteco-dark);
    }

    span {
      max-width: calc(100% - 40px);
      color: #000;
      font-family: Gilroy;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%; /* 18px */
      padding-top: 1px;

      @media screen and (max-width: 992px) {
        font-size: 16px;
      }
    }
  }
}

.apartment {
  background-color: var(--alteco-dark);
  background-image: url('../images/noise.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  h2 {
    color: #fff;
  }

  &-summ {
    text-align: right;
    h4 {
      color: #FFF;
      font-family: Gilroy;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 43.2px */
      text-transform: uppercase;
    }
    p {
      color: var(--alteco-orange);
      font-family: Manrope;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 36px; /* 225% */
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 12px;
      margin-top: 12px;


      .bold {
        font-weight: 800;
        text-decoration:line-through;
      }

      span {
        display: flex;
        align-items: center;

        .icon {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  &-hr {
    display: block;
    width: 100%;
    margin: 32px 0;
  }

  &-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    max-width: 946px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 992px) {
      overflow-x: auto;
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    min-width: 170px;
    max-width: 170px;
    border: 2px solid #FFF;
    padding: 20px 10px;
    text-align: center;

    .icon {
      width: 48px;
      height: 48px;
      color: var(--alteco-blue);
      margin-bottom: 10px;
    }

    h6 {
      color: #FFF;
      text-align: center;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%; /* 20.8px */
      margin-bottom: 0;
    }

    p {
      color: #FFF;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 130%;
      margin-bottom: 0;
    }
  }

  &-link {
    color: var(--alteco-blue);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 32px auto 0;
    transition: 0.3s;
    gap: 12px;

    &:hover {
      text-decoration: underline;
    }

    .icon {
      width: 24px;
      height: 24px;
    }
  }
}

.gallery {
  background: var(--5-Gray, #EDF1F4);
  
  h3 {
    color: var(--alteco-dark);
    font-family: Gilroy;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 43.2px */
    text-transform: uppercase;
  }

  &-count {
    text-align: right;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    text-transform: uppercase;
  }

  &-slider {
    margin-top: 32px;

    .slick-arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid rgba(0, 0, 0, 0.40);
      display: flex;
      width: 50px;
      height: 50px;
      padding: 7px 4px;
      color: #000;
      background: #fff;
      cursor: pointer;
      transition: 0.4s;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 8;

      &:hover {
        border: 2px solid #000;
      }
      svg {
        width: 16px;
        height: 16px;
      }
    }

    .carousel {
      &-next {
        right: -82px;

        @media screen and (max-width: 1340px) {
          right: 0;
        }
      }

      &-prev {
        left: -82px;
        @media screen and (max-width: 1340px) {
          left: 0;
        }
      }
    }


    &-mobile {
      display: none;
    }

    &-item {
      img {
        width: 100%;
        height: 35vh;
        object-fit: cover;
      }
      &-row {
        display: flex;
        gap: 16px;
        @media screen and (max-width: 1200px) {
          flex-wrap: wrap;
        }
        img {
          transition: 0.3s;
          object-fit: cover;

          &:hover {
            transform: scale(1.05);
          }
        }
      }

      &-col {
        &-1 {
          display: flex;
          flex-direction: column;
          gap: 16px;
          width: 450px;
          min-width: 450px;

          img {
            height: 216px;
          }

          &-img {
            &-1, &-2 {
              width: calc(50% - 8px);
            }

            &-3 {
              width: 450px;
            }
          }
        }

        &-2 {
          width: 449px;
          @media screen and (max-width: 1200px) {
            width: calc(100% - 466px);
          }

          img {
            width: 449px;
            height: 448px;

            @media screen and (max-width: 1200px) {
              width: 100%;
            }
          }
        }

        &-3 {
          display: flex;
          flex-direction: column;
          gap: 16px;

          @media screen and (max-width: 1200px) {
            flex-direction: row;
            width: 100%;
          }

          img {
            width: 272px;
            height: 216px;

            @media screen and (max-width: 1200px) {
              width: calc(50% - 8px);
            }
          }
        }
      }
    }
  }
}

[data-fancybox] {
  cursor: pointer;
}

body {
  overflow-x: hidden;
  @import 'MediaQueries/main';
}
